@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    color: var(--quaternary-color);
}

body, html {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}

:root {
    --primary-color: #360827;
    --secondary-color: #5E1043;
    --tertiary-color: #A13F80;
    --quaternary-color: #FBF8CA;
}
.container{
    width: 100%;
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin: 8%;
}
.calculator h1{
    font-size: 4rem;
}
.inputBox{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    background: rgba(255, 255, 255, .3);
}
.inputBox input{
    flex: 1;
    width: auto;
    color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1.15rem;
    border: 0;
    border-radius: 6px;
    outline: 0;
    position: relative;
    cursor: pointer;
}
.inputBox button {
    width: auto;
    background: var(--secondary-color);
    color: var(--quaternary-color);
    padding: 10px 20px;
    border: 0;
    border-radius: 6px;
    outline: 0;
    cursor: pointer;
    font-size: 1.15rem;
    cursor: pointer;
}
.inputBox input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
    height: auto;
    opacity: 1;
}
#age{
    color: var(--quaternary-color);
    padding: 20px 30px;
    font-size: 1.15rem;
    background: rgba(255, 255, 255, .3);
    border: none;
    border-radius: 6px;
    display: none;
}